body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 700px;
    height: 40px;
    border: solid rgb(0, 0, 0, 0.3) 2px;
    border-radius: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size:large;
    background-color: aliceblue;
}
#Search{
    border: none;
    background-color: inherit;
    scale: 2;
}
#page{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr ;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr ;
    /* gap: 40px; */
    border: solid black;
}